* {
  margin:0;
  padding:0;
}

ul {
  list-style: none;
}

.popup.with-mask {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1000;
}

.popup .popup-mask {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 1;
  background-color:rgba(0, 0, 0, .4);
}

.popup .popup-box {
  position:fixed;
  z-index:1;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  will-change:auto;
}

.popup .popup-box.slide-up {
  padding-bottom: constant(safe-area-inset-bottom);
}

.popup.top .popup-box, .popup.bottom .popup-box,
.popup.left .popup-box, .popup.right .popup-box{
  transition:all .3s;
}

.popup.center .popup-box {
  top:50%;
  right:auto;
  bottom:auto;
  left:50%;
  transform:translate(-50%, -50%);
}

.popup.top .popup-box,
.popup.bottom .popup-box {
  width:100%;
}

.popup.left .popup-box,
.popup.right .popup-box {
  height:100%;
}

.popup.top .popup-box {
  top:0;
  left:0;
}

.popup.bottom .popup-box {
  bottom:0;
  left:0;
}

.popup.left .popup-box {
  left:0;
  top:0;
}

.popup.right .popup-box {
  right:0;
  top:0;
}


.fade-enter-active,.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to, .fade-leave-active {
  opacity:0;
}


.slide-up-enter-active, .slide-up-leave-active, .slide-down-enter-active,
.slide-down-leave-active, .bottom .show {
  transform:translateY(0);
}

.slide-up-enter, .slide-up-leave-to {
  /* Solve the problem of hiding to show
   * in the animation state of elements outside the viewport
   */
  transform:translateY(70%);
}

.slide-up-leave-active {
  transform:translateY(100%);
}

.slide-down-enter, .slide-down-leave-to {
  transform:translateY(-70%);
}
.slide-down-leave-active {
  transform:translateY(-100%);
}

.slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active {
  transform:translateX(0);
}
.slide-left-enter, .slide-left-leave-to {
  transform:translateX(70%);
}
.slide-left-leave-active {
  transform:translateX(100%);
}

.slide-right-enter, .slide-right-leave-to {
  transform:translateX(-70%);
}
.slide-right-leave-active {
  transform:translateX(-100%);
}


.popup .popup-box .popup-content {
  background-color: #fff;
  padding:20px;
  text-align:center;
}
